.movie-wrapper{
    max-width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: var(--card-background);
    text-align: center;
    margin-bottom: 2rem;
    color: var(--font-color);
    /* margin-left: 4rem; */
}
.movie-wrapper:hover{
    cursor: pointer;
}
.movie-title{
    margin-top: 2rem;
    font-size: x-large;
    letter-spacing: 5px;
}

.movie-year, .movie-type{
    margin-top: 1rem;
    font-size: larger;
}
