.movie-wrapper{
    max-width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 2rem;
}
.movie-title{
    margin-top: 2rem;
    font-size: x-large;
    letter-spacing: 5px;
}
.movie-year, .movie-type{
    margin-top: 1rem;
    font-size: larger;
}