.movie-details-wrapper{
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.movie-details{
    color: var(--font-color-inverted);
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
}
.genre{
    color: white;
    border: 1px solid var(--dull-blue);
    background-color: var(--dull-blue);
    border-radius: 10px;
    margin-right: 1rem;
    padding: 10px 20px;
}
.genre:hover{
    cursor: pointer;
}