.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    border: 1px solid var(--dark-dull);
    padding: 1.5rem;
    background-color: var(--dark-dull);
    color: white;
}
.navbar-wrapper div:nth-child(1){
    font-size: xx-large;
    letter-spacing: 0.5rem;
}
.navbar-wrapper div:nth-child(2){
    flex-basis: 65%;

}
.navbar-wrapper div:nth-child(2) input{
    width: 100%;
    height: 25px;
    padding: 10px;
    border: none;
    background-color: var(--light-prime-gray);
    color: white;
}
.search-bar{
    position: relative;
}
#result-list{
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    color: black;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid var(--light-prime-gray);
}
#result-list > .auto-complete{
    font-size: large;
    letter-spacing: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
}